@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>States & Capitals QUIZ</h1>
    <p class="lead">Dashboard of US States Quiz: challenging quiz including the capitals of the 50 US states. Have fun and train your brain!</p>
    <p><a href="~/Login/Index" class="btn btn-primary btn-lg">Try the Quiz</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Car Quiz Game</h2>
        <p>
            Welcome to our car quiz game section! So you think you’re a pretty big automotive enthusiast? Find out just how much you really know by taking one of our fun car quizzes.
        </p>
        <p><a class="btn btn-default" href="https://www.zeroto60times.com/car-quizzes/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Animals Quiz Game</h2>
        <p>How much do you know about the animal kingdom? This brain-stretching quiz will test your animal smarts!</p>
        <p><a class="btn btn-default" href="https://kids.nationalgeographic.com/games/quizzes/article/quiz-whiz-animals">Learn more &raquo;</a></p>
    </div>
</div>